<!DOCTYPE html>
<html>
<head>
	<title>Welcome to DinA's Blog</title>
</head>
<body>
 <!-- Site Header -->
<h1>Hi. I am DinA. Welcome to my blog!</h1>

<!-- Blog Post -->
<h2>My First Blog Post</h2>
<p>Here is my first blog post. One day at the mall....</p>

<!-- Like And Comment -->
<button>Like</button>
<h2>Leave a Comment</h2>
<form action="{% url 'blog:home_page' %}" method="POST">
{% csrf_token %}
<input type="text" placeholder="Please Enter Your username" name="username"><br><br>
	<textarea placeholder="Please Enter Your Comment"></textarea>
	<input type="submit" name="Post Me!">
</form>
</body>
</html>